In [1]:
my_list = ['hello', -4.2, 5]
print('my_list[0] -- >',my_list[0])
print('my_list[1] -- >',my_list[1])
print('my_list[2] -- >',my_list[2])

my_list[0] -- > hello
my_list[1] -- > -4.2
my_list[2] -- > 5

8.1.4: In-place modification of a list

In [2]:

my_teams = ['Raptors', 'Heat', 'Nets' ]
your_teams = my_teams # Create a shared reference to same list

my_teams[1] = 'Lakers' # Modify list element

print('My teams are:', my_teams) # Both variables have changed
print('Your teams are:', your_teams) # Both variables have changed

My teams are: ['Raptors', 'Lakers', 'Nets']
Your teams are: ['Raptors', 'Lakers', 'Nets']

List indexing

In [3]:

# 1) Indexing operation changes list elements.
colors = ['red', 'green', 'blue']

colors[1] = 'yellow' # Change list element
print(colors)

['red', 'yellow', 'blue']

# 2) The list does not change when fav_color is updated.

fav_color = colors[2]
# Bind to 'blue'
fav_color = 'turquoise'
print(colors)

['red', 'yellow', 'blue' ]

# List not altered

['red', 'yellow', 'blue']
['red', 'yellow', 'blue']

['red', 'yellow', 'blue']

 1) vals is a list containing elements 1, 4, and 16.

In [4]:
vals = [1, 4, 16]
print('original list:',vals)
# original list: [1, 4, 16]

original list: [1, 4, 16]

 2) The statement vals.append(9) appends element 9 to the end of the list.

In [5]:
vals.append(9)
print('list after append:',vals)

# list after append: [1, 4, 16, 9]

list after append: [1, 4, 16, 9]

 3) The statement vals.insert(2, 18) inserts element 18 into position 2 of the list.

In [6]:
vals.insert(2, 18)
print('element 18 is inserted at 2 index, list are', vals)
# element 18 is inserted at 2 index, list are [1, 4, 18, 16, 9]

element 18 is inserted at 2 index, list are [1, 4, 18, 16, 9]

In [7]:
# 4) The statement vals.pop() removes the last element, 9, from the list.

value = vals.pop()
print(value)

9

In [8]:

# 5) The statement vals.remove(4) removes the first instance of element 4 from the list.

vals.remove(4)
print(vals)

[1, 18, 16]

In [9]:


# 6) The statement vals.remove(55) removes the first instance of element 55 from the list. The list does not contain the element 55 so vals is the same.

value = vals.remove(55)
print(value)

ValueError: list.remove(x): x not in list

Iterating through a list example: Finding the maximum even number

In [ ]:
# Determine maximum even number
nums = [1,23555,55,43,2,345,0]
max_num = None
for num in nums:
    if (max_num == None) and (num % 2 == 0):
# First even number found
        max_num = num
    elif (max_num != None) and (num > max_num ) and (num % 2 == 0):
# Larger even number found
        max_num = num

print('Max even #:', max_num)

Max even #: 2

Using a variable to keep track of a value while iterating over a list

In [ ]:

nums = [1, 4, 15, 456]

max_even = 0
for num in nums:
    if num % 2 == 0: # The number is even?
        if max_even == 0 or num > max_even:
            max_even = num

print('max_even:',max_even)

max_even: 456

# -----------------x------------------

In [ ]:
l1 = list(input())

In [ ]:
print(type(l1[2]))
print(type(l1))

<class 'str'>
<class 'list'>

### Multi-dimensional lists

In [1]:
my_list= [[10, 20],[30, 40]]
print('First nested list:',my_list[0])

First nested list: [10, 20]

In [8]:
print('Second nested list:',my_list[1])


print('Element 0 of first nested list:',my_list[0][0])

Second nested list: [30, 40]
Element 0 of first nested list: 10

### Two-dimensional list

In [ ]:

my_list = [
[10, 0, 55],
[0, 4, 16]
]
print('Original two dimensional list',my_list)

# Write to some elements
my_list[0][0] = 33
my_list[1][1] = 77
my_list[1][2] = 99

print('Updated two dimensional list',my_list)

#### Iterating through multi-dimensional lists using enumerate()

In [12]:
currency = [

[1.00, 5.00, 10.0], # US Dollars
[0.75, 3.77, 7.53], # Euros
[0.65, 3.25, 6.50] # British pounds

]

for row in currency:
    print('row: ',row)
for cell in row:
    print(cell, end=' ')
    print()

row:  [1.0, 5.0, 10.0]
row:  [0.75, 3.77, 7.53]
row:  [0.65, 3.25, 6.5]
0.65
3.25
6.5

In [11]:
for row_index, row in enumerate(currency):
    for column_index, item in enumerate(row):
        print(f'currency[{row_index}][{column_index}] is {item :.2f}')

currency[0][0] is 1.00
currency[0][1] is 5.00
currency[0][2] is 10.00
currency[1][0] is 0.75
currency[1][1] is 3.77
currency[1][2] is 7.53
currency[2][0] is 0.65
currency[2][1] is 3.25
currency[2][2] is 6.50

### List slice notation

In [13]:

boston_bruins = ['Ram','Shyam' , 'Krishna' ,' Laxman' , 'Bharat' , 'Shatrughna' ]

print(boston_bruins)


print('Elements 0 and 1:',boston_bruins[0:2])


print('Elements 1 and 2:',boston_bruins[1:3])

['Ram', 'Shyam', 'Krishna', ' Laxman', 'Bharat', 'Shatrughna']
Elements 0 and 1: ['Ram', 'Shyam']
Elements 1 and 2: ['Shyam', 'Krishna']

List slicing: Using negative indices

In [14]:

election_years = [1992, 1996, 2000, 2004, 2008]
print(election_years[0 :- 1]) # Every year except the last

[1992, 1996, 2000, 2004]

print(election_years[0 :- 3])

[1992, 1996]
print(election_years[-3 :- 1])
[2000, 2004]

# Every year except the last three

# The third and second to last years

[1992, 1996, 2000, 2004]
[1992, 1996]
[2000, 2004]

[2000, 2004]